body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #270255;
    margin: 0;
    padding: 0;
}
header {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 1em 0;
}
header h1 {
    font-family: 'Lobster', cursive;
    font-size: 2.5em;
    margin: 0;
}
header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 10px 0 0;
}
header nav ul li {
    margin: 0 15px;
}
header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
}
header nav ul li a:hover {
    text-decoration: underline;
}
.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 20px;
}
.anime-card {
    background-color: #918e8eaa;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 20px 0;
    padding: 20px;
    display: flex;
    align-items: center;
}
.anime-card img {
    border-radius: 8px;
    max-width: 150px;
    margin-right: 20px;
    cursor: pointer; /* Add this to indicate the image is clickable */
}
.anime-card h2 {
    margin: 0 0 10px 0;
}
.anime-card p {
    margin: 0;
}

/* About Us and Contact Us section styles */
.about-section, .contact-section {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
}
.about-section h2, .contact-section h2 {
    font-size: 2em;
    margin: 0 0 10px 0;
}
.about-section p, .contact-section p {
    font-size: 1.2em;
    margin: 0;
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 60px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.modal-content, .close {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
